$second-color:#835fa9;
.statistics{
  margin-bottom: 50px;

&__list{
  display: flex;
  justify-content: space-between;
}
&__number{
  color: $second-color;
  font-size: 40px;
  font-family: Stem;
  display: block;
  line-height: 1;
  margin-bottom: 5px;
}
&__text{
  font-size: 14px;
  width: 80%;
  color: $second-color;
}
&__item{
  width: 130px;
  text-align: center;
  height: 130px;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  padding-top: 19px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  &:last-child:before{
    content:none;
  }
  &:before{
    content: "";
    position: absolute;
    width: 255px;
    height: 1px;
    left: 100%;
    background: $primary-color;
    top: 50%;
    transform: translateY(-50%);
  }
}
}
