.user-menu{
display: none;
position: absolute;
font-size: 14px;
background: rgba(255, 255, 255, 0.92);
right: 0;
border-radius: 10px;
top: 120%;
width: 200px;
z-index: 999;

  &--active{
    display: block;
  }
  span{
    color: #3ad0ab;
    font-size: 17px;
    padding-top: 10px;
  }

  &:hover{
    opacity: 1;
  }

  &__item{
    font-size: 14px;
    color: #2f2f2f;
    padding: 10px;
    padding-right: 50px;
    border-bottom: 1px solid #eaeaea;

    &:hover{
      opacity: 0.8;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}
