@font-face {
  font-family: 'SF';
  src:  url('../fonts/SFUIText-Regular.eot') format('eot'),
        url('../fonts/SFUIText-Regular.ttf') format('truetype'),
        url('../fonts/SFUIText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SF';
  src:  url('../fonts/SFUIText-Semibold.eot') format('eot'),
        url('../fonts/SFUIText-Semibold.ttf') format('truetype'),
        url('../fonts/SFUIText-Semibold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Stem';
  src:  url('../fonts/Stem-Thin.svg') format('svg'),
        url('../fonts/Stem-Thin.ttf') format('truetype'),
        url('../fonts/Stem-Thin.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Stem';
  src:  url('../fonts/Stem-Regular.svg') format('svg'),
        url('../fonts/Stem-Regular.ttf') format('truetype'),
        url('../fonts/Stem-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
